<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}">Vikingo Estudios</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{site.baseurl}}" class="{% if page.url == '/index.html' %}active{% endif %}">Home</a></li>
        <li><a href="{{site.baseurl}}/historia" class="{% if page.url contains 'historia' %}active{% endif %}">Historia</a></li>
        <li><a href="{{site.baseurl}}/clientes" class="{% if page.url contains 'clientes' %}active{% endif %}">Clientes</a></li>
        <li><a href="{{site.baseurl}}/servicios" class="{% if page.url contains 'servicios' %}active{% endif %}">Servicios</a></li>
        <li><a href="{{site.baseurl}}/equipamiento" class="{% if page.url contains 'equipamiento' %}active{% endif %}">Equipamiento</a></li>
        <li><a href="{{site.baseurl}}/galaria" class="{% if page.url contains 'galaria' %}active{% endif %}">Galaria</a></li>
        <li><a href="{{site.baseurl}}/promos" class="{% if page.url contains 'promos' %}active{% endif %}">Promos</a></li>
        <li><a href="{{site.baseurl}}/contacto" class="{% if page.url contains 'contacto' %}active{% endif %}">Contacto</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div><!--/.container-fluid -->
</nav><!-- navbar -->
