<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Quien Somos</h2>
				<p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="{{site.baseurl}}/img/sol.jpg" alt="Mockup" class="img-responsive" />
				<h2>Nahuel</h2>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			</div>
			<div class="col-md-6">
				<img src="{{site.baseurl}}/img/sol.jpg" alt="Mockup Test" class="img-responsive" />
				<h2>Ill Padre</h2>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			</div>
		</div>
		<div class="row">	
			<div class="col-md-6 col-md-offset-3">
				<img src="{{site.baseurl}}/img/sol.jpg" alt="Mockup" class="img-responsive" />
				<h2>El Vikingo</h2>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			</div>
		</div>
	</div>
</section>