nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="{{site.baseurl}}").navbar-brand
        span: img(src="{{site.baseurl}}/img/vikingo-logo-mini.png" alt="Vikingo Logo" height="50" width="50").img-responsive
        span Vikingo Estudios
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href="{{site.baseurl}}/historia" class="{% if page.url contains 'historia' %}active{% endif %}") Historia
        <!--<li><a href="{{site.baseurl}}/clientes" class="{% if page.url contains 'clientes' %}active{% endif %}">Clientes</a></li>-->
        li: a(href="{{site.baseurl}}/servicios" class="{% if page.url contains 'servicios' %}active{% endif %}") Servicios
        li: a(href="{{site.baseurl}}/equipamiento" class="{% if page.url contains 'equipamiento' %}active{% endif %}") Equipamiento
        li: a(href="{{site.baseurl}}/galeria" class="{% if page.url contains 'galeria' %}active{% endif %}") Galeria
        li: a(href="{{site.baseurl}}/staff" class="{% if page.url contains 'staff' %}active{% endif %}") Staff
        li: a(href="{{site.baseurl}}/contacto" class="{% if page.url contains 'contacto' %}active{% endif %}") Contacto
        
