section.equipamiento_intro
  img(src="img/equiment-banner.jpg" alt="Equipamiento")
.container
  .row
    .col-sm-12
      h1 Equipamiento
.container
  .row
    .col-sm-12
      h2 Equipamiento técnico:
    .col-md-4
      h3 Micrófonos:
      ul
        li 1-Neumann u87
        li 1-Audio técnica 4060 (valvular)
        li 2-Brauner edición aniversario (alemán)
        li 2-AKG 414
        li 1-beyerdynamic m160 (Ribbon)
        li 1-beyerdynamic m88
        li 2-Sennheiser 421 (vintage)
        li 1-Sennheiser m21 (vintage)
        li 1-Sennheiser 906
        li 1-Sennheiser 602
        li 8-Shure sm 57
        li 2-Shure sm81
        li 2-Shure d112
        li 6-Shure sm58
        li 1-Fame Ribbon
    .col-md-8
      .row
        .col-md-6
          h3 Preamplificadores:
          ul
            li 1-API a2d stereo (2x 312 preamplifier)
            li 4-Telefunken v672 (vintage)
            li 1-Telefunken TAB V72 (Vintage, valvular)
            li 1-Telefunken TAB v376 (vintage)
            li 1-Presonus channel strep
            li 1-Consola Soundcraft Studio 32ch (england).
        .col-md-6
          h3 Procesos:
          ul
            li 1-API 2500 stereo bus compresor
            li 2-Equalizadores SIEMENS w295 (vintage)
            li 2-Equalizadores OVIE 
            li 1-Multiefecto ENSONIC DP4
            li 2-Multiefecto Yamaha SPX 90
            li 2-Compresores Tipo 1176 ASHLY
            li 1-Compresor Symetrix 501
        .col-sm-6
          h3 Interfaces de grabación:
          ul
            li 2-Placas ,core y accel Digidesign (HD2)
            li 2-Digidesign interfase 192 AD/DA
            li 1-Grabadora de cinta abierta Tascam 85-16B
        .col-sm-6
          h3 Monitoreo:
          ul
            li Dynaudio BM15
            li Yamaha NS-10
            li Das Factor (sala)
            li Auriculares varios: Sony, Sennheiser, Shure.
.container
  .row
    .col-sm-12
      h2 Backline:
    .col-sm-4
      h3 Equipos de guitarra y bajo:
      ul
        li 1-Fender Bassman 135 (cabezal y caja).
        li 1-Cabezal Acoustic model 160 (EEUU)
        li 2-Cabezal Marshall jcm 900
        li 1-Cabezal Fender 100w
        li 1-Cabezal Laney valvular 50W
        li 1-Caja Marshall jcm 800
        li 2-Caja Marshall jcm 900
        li 1-Caja Ampeg 8x10 (vintage, Heladera)
        li 1-Cabezal harke 350
    .col-sm-4
      h3 Teclados, controladores y pianos:
      ul
        li 1-Piano vertical Bentley.
        li 1-Controlador midi 5 octavas.
        li 1-Sintetizador KORG microkorg.
        li 1-Farfisa
        li 1-Rhodes seventythree
    .col-sm-4
      h3 Baterías y percusión:
      ul
        li 1-Premier año 1970 Medidas: 22, 16, 14, 12
        li 1-Gretsch custom Maple 1979 medidas: 22, 16, 13, 12
        li 1-Tambor Ludwig supraphonic 14x5 año 1960
        li 1-Tambor Ludwig acrolite 14x5 año 1970
        li 1-Yamaha recording 14x6.5 (madera)
        li 1-Tama Imperialstar 14x6,5
  .row
    .col-lg-12.text-center
      p Set de accesorios: Campanas, shamblock, Huevitos, Triangulo, Pandereta, etc.
      ul.list-unstyled
        li 1-Bombo leguero
        li 1-Juego de timbales Pearl
        li 1-Bongo
