.home
  section.intro
    .container-fluid
      .row
        .col-md-12
          .jumbotron
            .logo-v.text-center
              img(src="{{site.baseurl}}/img/logo-vikingo-temp.png")
              p.slogan "De los siete mares"
  .br <br>
  section
    .container#servicios
      .row.text-center
        .col-md-3
          div
            span.glyphicon.glyphicon-music
          h3 Grabación
          p Producir respetando tus intereses es nuestro principal objetivo, dándote las mejores recomendaciones. Vikingo Estudios asegura el producto final que deseas dado que cuenta con eficaces equipamientos y una acústica de óptima calidad.

        .col-md-3
          div
            span.glyphicon.glyphicon-cd
          h3 Mezcla
          p La autenticidad musical hace de Vikingo Estudios un concepto particular. Nos destacamos en mezclas con formatos de audio tanto analógico como digital.

        .col-md-3
          div
            span.glyphicon.glyphicon-check
          h3 Mastering
          p Como último eslabón en la cadena de producción se ajustan los detalles finales característicos de cada disco, a través de compresores, limitadores y ecualizadores analógicos.

        .col-md-3
          div
            span.glyphicon.glyphicon-globe
          h3 Producción musical
          p Vikingo Estudios promociona su servicio en producción musical, cine y vídeo.
