section
  .container
    .row
      .col-md-12
        h1 Staff
    .row
      .col-md-6
        img(src="nahuel.jpg" alt="Foto de Nahuel Martorelli").img-responsive
        h2 Nahuel Martorelli <br>
          span.small Musico/Productor
      .col-md-6
        img(src="damian.jpg" alt="Foto de Damian Cooczon Martorelli").img-responsive
        h2 Damian Cooczon Martorelli <br>
          span.small Ingeniero en Sonido
    .row
      .col-md-6.col-md-offset-3
        img(src="claudio.jpg" alt="Claudio Vikingo Martorelli").img-responsive
        h2 Claudio Vikingo Martorelli <br>
          span.small Managger
        p Trabajos en conjunto con Gustavo Cerati, Fabiana Cantilo, Karamelo Santo, Molotov, Babasónicos, Melero, Menphis La Blusera, entre otros
