<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="push"></div>
    </div>

    {% include footer.html %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="{{site.baseurl}}/js/lightGallery.js"></script>
  <script type="text/javascript">
          $(document).ready(function() {
            $("#lightGallery").lightGallery({
                showThumbByDefault:true,
                addClass:'showThumbByDefault'
            }); 
          });
        </script>
  </body>

</html>
